@media (max-width: 715px){
    .navcont{
        width: 715px !important;
    }
    .containerlist{
        width: 715px !important;
    }
    .cover{
        width: 715px !important;
    }
    .detail-container{
        width: 715px !important;
    }
    .cartContainer{
        width: 715px !important;    
    }
    .header{
        width: 715px !important;
        height: 5000px;
    }
}